/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: Microsoft JhengHei, sans-serif, serif, monospace;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fz-24 {
  font-size: 24px;
  line-height: 36px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.mb-72 {
  margin-bottom: 72px;
}

header.container {
  margin-bottom: 48px;
}

header h1 {
  font-size: 80px;
  line-height: 90px;
  padding: 48px 0 24px 0;
  border-bottom: 2px solid #000;
  margin-bottom: 48px;
}

.title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

.title h2 {
  font-size: 32px;
  line-height: 45px;
  margin-right: 16px;
  font-weight: bold;
}

.title span {
  font-size: 24px;
  line-height: 32px;
  color: #A00404;
  font-weight: bold;
}

.profile ul {
  padding-left: 48px;
  margin-bottom: 24px;
}

.profile li {
  position: relative;
}

.point:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #96A9C4;
  border-radius: 50%;
  left: -32px;
  top: 12px;
}

.education ul {
  padding-left: 48px;
}

.education li {
  position: relative;
  margin-bottom: 32px;
}

.timeline:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 62px;
  background: #96A9C4;
  top: 18px;
  left: -24px;
}

.skill-bg {
  position: relative;
}

.skill-bg:after {
  content: "";
  position: absolute;
  background: #96A9C4;
  height: 360px;
  width: 100%;
  z-index: -1;
  top: 85px;
}

.skill {
  background-color: #415165;
}

.skill-block {
  color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 56px 0;
}

.skill-block .title {
  width: 996px;
  padding-bottom: 8px;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.skill-block .title span {
  color: #FFFFFF;
}

.skill-block .skill-list {
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
}

.skill-block .skill-list li:not(:last-child) {
  margin-bottom: 16px;
}

.experience .title {
  margin-bottom: 24px;
}

.experience-list {
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.experience-list li {
  margin-bottom: 32px;
}

.experience-list li h3 {
  font-weight: bold;
}

.experience-list li img {
  display: block;
  margin: 8px 0;
}

.experience-list li p {
  font-size: 20px;
  line-height: 30px;
  max-width: 642px;
}

.footer {
  background-color: #415165;
  color: #FFFFFF;
  padding: 24px 0 48px 0;
}

.footer .title {
  max-width: 1200px;
  padding-bottom: 8px;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.footer .title span {
  color: #FFFFFF;
}

.footer-list li:not(:last-child) {
  text-align: center;
  margin-bottom: 16px;
}

.sns-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sns-list img {
  display: block;
}

.sns-list li:not(:last-child) {
  margin-right: 24px;
  margin-bottom: 0;
}
/*# sourceMappingURL=all.css.map */